<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net472" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net472" />
  <package id="Expression.Blend.Sdk3" version="1.0.1340.1" targetFramework="net472" />
  <package id="Microsoft.Expression.Blend.SDK.WPF" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net472" />
</packages>